.country-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.country-button{
    background-color: hsl(250, 20%, 51%);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition:
        background-color 0.3s,
        color 0.3s;
}

.country-button:disabled {
    background-color: hsl(250, 10%, 70%);
    color: #ddd;
    cursor: not-allowed;
    opacity: 0.7;
}

.country-p{
    color: gray;
    font-size: 12px;
}