body {
  margin: 0;
}

#root {
  max-width: 100%;
  min-height: 100svh;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 14%);
  font-family: sans-serif;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  color: white;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  color: white;
  font-size: 26px;
  margin: 0 0 8px;;
  }

p {
  color: white;
  font-size: 16px;;
  line-height: 1.6;
  margin: 0;
}
